.reforma-game {
	width: 340px;
	background-color: #222;   /* в макете определяется как #272727 */
}

.reforma-game_info {
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	box-sizing: border-box;
}

.reforma-game_state {
	height: 22px;
	padding: 0 0 20px;
	display: flex;
	align-items: center;
	text-align: center;
}

.reforma-game_lifes {
	width: 50%;
	border-right: 1px solid #4c4c4c;
}

.reforma-game_score {
	width: 50%;
	color: #999;
	font-size: 21px;
}

.reforma_deck {
	flex: 1;
	margin-bottom: 20px;
}

.reforma-deck_card {
	box-sizing: border-box;
	position: relative;
	z-index: 1;
	background-color: #fff;
	border-radius: 3px;
	padding-bottom: 20px;

	.reforma_deck &:after {
		content: '';
		position: absolute;
		bottom: -11px;
		left: 0;
		background: url('../img/card-deck.png') 0 0 no-repeat;
		size: 100% height('../img/card-deck.png');
	}

	.reforma_deck &.is-ending:after {
		height: 8px;
		bottom: -7px;
		border-radius: 0 0 3px 3px;
	}

	.reforma_deck &.is-end:after {
		display: none;
	}

	.reforma_card {
		display: none;

		&.is-active {
			display: block;
		}
	}

	&.is-hide {
		display: none;

		& + .reforma-deck_end {
			display: block;
		}
	}
}

.reforma-deck_actions {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	border-top: 1px solid #e5e5e5;
	margin: 0 30px;
    padding-top: 13px;

	.on-desk & {
		display: none;
	}
}

.reforma-deck_action {
	size: 33.3333% 40px;
	line-height: 40px;
	border-right: 1px solid #e5e5e5;
	cursor: pointer;
	transition: opacity 300ms ease;

    &:hover {
    	opacity: .6;
    }

	&:last-child {
		border: 0;
	}
}

.reforma-deck_end {
	display: none;
	color: #fff;
    text-align: center;
    font-size: 17px;
    height: 100%;
    padding-top: 100px;
    box-sizing: border-box;
}

.reforma-game_info-message {
	text-align: center;
}

.reforma-game_info-message-pic {
	margin: 0 auto 20px;

	.total-victory & {
		size: size('../img/i-total-victory.svg');
		background: url('../img/i-total-victory.svg') 0 0 no-repeat;
	}

	.total-loose & {
		size: size('../img/i-total-loose.svg');
		background: url('../img/i-total-loose.svg') 0 0 no-repeat;
	}

	.total-defeat & {
		size: size('../img/i-total-defeat.svg');
		background: url('../img/i-total-defeat.svg') 0 0 no-repeat;
	}
}

.reforma-game_info-message-title {
	margin-bottom: 20px;
}

.reforma-game_info-message-title-text {
	font: 700 23px/1 $sans;
	margin-bottom: 9px;
	color: $base-text;
}

.reforma-game_info-message-score {
	font: 400 italic 13px/20px $serif;
	color: $subtext;
}

.reforma-game_info-message-text {
	color: #e5e5e5;
	font: 400 13px/18px $serif;
	margin-bottom: 15px;
}

.reforma-game_info-message-link {
	font: 400 italic 13px/20px $serif;
	color: $subtext;
	border-bottom: 1px solid;

	&:hover {
		border-bottom-color: transparent;
	}
}




















