@define-mixin icon $name {
    background: inline('../img/$(name).svg') center center no-repeat;
    size: size('../img/$name.svg');
    min-width: width('../img/$name.svg');
    background-size: 100% 100%;
	display: inline-block;
	vertical-align: middle;
}

.reforma-desk_icon-add {
	@mixin icon i-add;
	background-image: svg-load('../img/i-add.svg', fill: #9B9B9B);
}

.reforma-desk_icon-skip {
	@mixin icon i-skip;
}

.reforma-desk_icon-discard {
	@mixin icon i-discard;
	background-image: svg-load('../img/i-discard.svg', fill: #9B9B9B);
}

.reforma-deck_icon-add {
	@mixin icon i-add;
}

.reforma-deck_icon-skip {
	@mixin icon i-skip;
}

.reforma-deck_icon-discard {
	@mixin icon i-discard;
}

.reforma-game_life {
	@mixin icon i-life;
	cursor: pointer;

	&.is-burn {
		@mixin icon i-life-grey;
	}
}

.reforma-card_icon {
	margin-right: 10px;

	.economics & {
		@mixin icon i-economy-white;
	}

	.social & {
		@mixin icon i-social-white;
	}

	.war & {
		@mixin icon i-war-white;
	}
}

.reforma-game_i-economy {
	@mixin icon i-economy;
}

.reforma-game_i-social {
	@mixin icon i-social;
}

.reforma-game_i-war {
	@mixin icon i-war;
}

.reforma-popup_close {
	@mixin icon i-discard;
	size: 20px;
	background-image: svg-load('../img/i-discard.svg', fill: #9B9B9B);

	&:hover {
		background-image: svg-load('../img/i-discard.svg', fill: #222);
	}
}
