
img {
	user-select: none;
}

.reforma {
	size: 100% calc(100vh - 61px);
	background: #333 url('../img/bg-main.png') 0 0 repeat;
	display: flex;
	/*min-width: 1024px;
	max-width: 1400px;
	margin: 0 auto;*/
}

