
img {
	user-select: none;
}

.reforma {
	width: 100%;
	min-height: 100vh;
	background: #333 url('../img/bg-main.png') 0 0 repeat;
	display: flex;
	overflow-x: hidden;
}

@keyframes zoomOutRight {
	100% {
		right: -400px;
		top: -400px;
	}
}

.zoomOutRight {
	will-change: right top;

	display: block !important;
	position: absolute;
	width: 300px;
	top: 0;
	right: 0;

	animation-name: zoomOutRight;
	animation-duration: 1s;
	animation-fill-mode: both;
}

@keyframes zoomOutLeft {
	50% {
		transform: scale(.9,.9,.9);
		left: -350px;
	}
	100% {
		left: 0;
		z-index: -1;
	}
}

.zoomOutLeft {
	will-change: transform left;

	display: block !important;
	position: absolute;
	top: 0;
	left: 0;
	width: 300px;

	animation-duration: 1.3s;
	animation-fill-mode: both;
	animation-name: zoomOutLeft;
}
